.btn {
  font-weight: 700;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.25rem;
}

.btn-blue {
  background-color: #4299e1;
  color: #fff;
}

.btn-blue:hover {
  background-color: #2b6cb0;
}

.error {
  font-size: 0.875rem;
  color: #f56565;
}

.form-label {
  font-weight: 700;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  display: block;
  color: #4a5568;
}

.form-input {
  border-width: 1px;
  width: 100%;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.rounded-xl {
  border-radius: 1.25rem;
}

.link {
  font-weight: 700;
  font-size: 1.125rem;
  margin-bottom: 1rem;
  display: block;
}

.link-transition {
  --transform-translate-x: 0;
  --transform-translate-y: 0;
  --transform-rotate: 0;
  --transform-skew-x: 0;
  --transform-skew-y: 0;
  --transform-scale-x: 1;
  --transform-scale-y: 1;
  transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover {
  --transform-translate-x: 0.25rem;
}
